$icomoon-font-path: "fonts" !default;

$sc-tran-commit: "\e947";
$sc-tran-rollback: "\e948";
$sc-plug: "\e945";
$sc-unplug: "\e946";
$sc-align-multirow: "\e900";
$sc-align-onerow: "\e901";
$sc-antwiz: "\e902";
$sc-bookmark-list: "\e903";
$sc-bookmark: "\e904";
$sc-close-invert: "\e905";
$sc-close: "\e906";
$sc-config: "\e907";
$sc-connect: "\e908";
$sc-database: "\e909";
$sc-disconnect: "\e90a";
$sc-edit: "\e90b";
$sc-filter: "\e90c";
$sc-folder-open: "\e90d";
$sc-folder: "\e90e";
$sc-function: "\e90f";
$sc-help: "\e910";
$sc-history: "\e911";
$sc-index: "\e912";
$sc-info: "\e913";
$sc-key: "\e914";
$sc-list-more: "\e915";
$sc-minus: "\e916";
$sc-more: "\e917";
$sc-move-end-page: "\e918";
$sc-move-first-page: "\e919";
$sc-move-next-page: "\e91a";
$sc-move-next-row: "\e91b";
$sc-move-prev-page: "\e91c";
$sc-move-prev-row: "\e91d";
$sc-move-up: "\e91e";
$sc-new: "\e91f";
$sc-panel-view-column: "\e920";
$sc-panel-view-stack: "\e921";
$sc-panel-view-window: "\e922";
$sc-pause-invert: "\e923";
$sc-pause: "\e924";
$sc-play-invert: "\e925";
$sc-play: "\e926";
$sc-plus: "\e927";
$sc-preplay: "\e928";
$sc-procedure: "\e929";
$sc-redo: "\e92a";
$sc-refresh: "\e92b";
$sc-reload: "\e92c";
$sc-run-planview: "\e92d";
$sc-run-sql: "\e92e";
$sc-save: "\e92f";
$sc-search: "\e930";
$sc-session: "\e931";
$sc-sort-asc: "\e932";
$sc-sort-desc: "\e933";
$sc-sqlgate-path1: "\e934";
$sc-sqlgate-path2: "\e935";
$sc-sqlgate-path3: "\e936";
$sc-sqlgate-path4: "\e937";
$sc-sqlgate-path5: "\e938";
$sc-stop-invert: "\e939";
$sc-stop: "\e93a";
$sc-table: "\e93b";
$sc-terminal: "\e93c";
$sc-tree-addnode: "\e93d";
$sc-tree-removenode: "\e93e";
$sc-tree: "\e93f";
$sc-trigger: "\e940";
$sc-undo: "\e941";
$sc-update: "\e942";
$sc-user: "\e943";
$sc-view: "\e944";

