$icomoon-font-path: "fonts" !default;

$sc-key2: "\e98d";
$sc-enter: "\ea13";
$sc-exit: "\ea14";
$sc-account_box: "\e851";
$sc-account_circle: "\e853";
$sc-adb: "\e60e";
$sc-add: "\e145";
$sc-add_a_photo: "\e439";
$sc-add_box: "\e146";
$sc-add_circle: "\e147";
$sc-control_point: "\e3ba";
$sc-android: "\e859";
$sc-arrow_back: "\e5c4";
$sc-arrow_downward: "\e5db";
$sc-arrow_drop_down: "\e5c5";
$sc-arrow_drop_down_circle: "\e5c6";
$sc-arrow_drop_up: "\e5c7";
$sc-arrow_forward: "\e5c8";
$sc-arrow_upward: "\e5d8";
$sc-attachment: "\e2bc";
$sc-border_color: "\e22b";
$sc-bug_report: "\e868";
$sc-call_to_action: "\e06c";
$sc-cancel: "\e5c9";
$sc-check: "\e5ca";
$sc-check_box: "\e834";
$sc-check_box_outline_blank: "\e835";
$sc-check_circle: "\e86c";
$sc-chrome_reader_mode: "\e86d";
$sc-close2: "\e5cd";
$sc-code: "\e86f";
$sc-content_copy: "\e14d";
$sc-content_cut: "\e14e";
$sc-content_paste: "\e14f";
$sc-create_new_folder: "\e2cc";
$sc-payment: "\e8a1";
$sc-delete_forever: "\e959";
$sc-not_interested: "\e033";
$sc-do_not_disturb_alt: "\e611";
$sc-drafts: "\e151";
$sc-error: "\e000";
$sc-error_outline: "\e001";
$sc-insert_invitation: "\e24f";
$sc-event_available: "\e614";
$sc-event_busy: "\e615";
$sc-event_note: "\e616";
$sc-exit_to_app: "\e879";
$sc-commit: "\e884";
$sc-file_upload: "\e2c6";
$sc-find_in_page: "\e880";
$sc-find_replace: "\e881";
$sc-g_translate: "\e95a";
$sc-home: "\e88a";
$sc-import_contacts: "\e0e0";
$sc-keyboard_arrow_down: "\e313";
$sc-keyboard_arrow_left: "\e314";
$sc-keyboard_arrow_right: "\e315";
$sc-keyboard_arrow_up: "\e316";
$sc-print: "\e8ad";
$sc-mail_outline: "\e0e1";
$sc-map: "\e55b";
$sc-note_add: "\e89c";
$sc-people_outline: "\e7fc";
$sc-person_outline: "\e7ff";
$sc-person: "\e7fd";
$sc-person_add: "\e7fe";
$sc-public: "\e80b";
$sc-security: "\e32a";
$sc-sentiment_dissatisfied: "\e811";
$sc-sentiment_neutral: "\e812";
$sc-sentiment_satisfied: "\e813";
$sc-sentiment_very_dissatisfied: "\e814";
$sc-sentiment_very_satisfied: "\e815";
$sc-settings: "\e8b8";
$sc-verified_user: "\e8e8";
$sc-vertical_align_bottom: "\e258";
$sc-vertical_align_center: "\e259";
$sc-vertical_align_top: "\e25a";
$sc-web: "\e051";
$sc-youtube_searched_for: "\e8fa";
$sc-zoom_in: "\e8ff";
$sc-zoom_out: "\e95b";
$sc-object-panel: "\e958";
$sc-sqlgate-path1: "\e934";
$sc-sqlgate-path2: "\e936";
$sc-sqlgate-path3: "\e937";
$sc-sqlgate-path4: "\e938";
$sc-sqlgate-path5: "\e951";
$sc-add-panel-plsql: "\e935";
$sc-copy: "\e953";
$sc-cut: "\e954";
$sc-indent: "\e955";
$sc-outdent: "\e956";
$sc-paste: "\e957";
$sc-move-down: "\e952";
$sc-tran-commit: "\e947";
$sc-tran-rollback: "\e948";
$sc-panel-view-column: "\e920";
$sc-add-panel-sql: "\e94f";
$sc-add-panel: "\e950";
$sc-spinner: "\e94e";
$sc-functions: "\e949";
$sc-procedures: "\e94a";
$sc-tables: "\e94b";
$sc-triggers: "\e94c";
$sc-views: "\e94d";
$sc-unplug: "\e945";
$sc-plug: "\e946";
$sc-align-multirow: "\e900";
$sc-align-onerow: "\e901";
$sc-antwiz: "\e902";
$sc-bookmark-list: "\e903";
$sc-bookmark: "\e904";
$sc-close-invert: "\e905";
$sc-close: "\e906";
$sc-config: "\e907";
$sc-connect: "\e908";
$sc-database: "\e909";
$sc-disconnect: "\e90a";
$sc-edit: "\e90b";
$sc-filter: "\e90c";
$sc-folder-open: "\e90d";
$sc-folder: "\e90e";
$sc-function: "\e90f";
$sc-help: "\e910";
$sc-history: "\e911";
$sc-index: "\e912";
$sc-info: "\e913";
$sc-key: "\e914";
$sc-list-more: "\e915";
$sc-minus: "\e916";
$sc-more: "\e917";
$sc-move-end-page: "\e918";
$sc-move-first-page: "\e919";
$sc-move-next-page: "\e91a";
$sc-move-next-row: "\e91b";
$sc-move-prev-page: "\e91c";
$sc-move-prev-row: "\e91d";
$sc-move-up: "\e91e";
$sc-new: "\e91f";
$sc-panel-view-stack: "\e921";
$sc-panel-view-window: "\e922";
$sc-pause-invert: "\e923";
$sc-pause: "\e924";
$sc-play-invert: "\e925";
$sc-play: "\e926";
$sc-plus: "\e927";
$sc-preplay: "\e928";
$sc-procedure: "\e929";
$sc-redo: "\e92a";
$sc-refresh: "\e92b";
$sc-reload: "\e92c";
$sc-run-planview: "\e92d";
$sc-run-sql: "\e92e";
$sc-save: "\e92f";
$sc-search: "\e930";
$sc-session: "\e931";
$sc-sort-asc: "\e932";
$sc-sort-desc: "\e933";
$sc-stop-invert: "\e939";
$sc-stop: "\e93a";
$sc-table: "\e93b";
$sc-terminal: "\e93c";
$sc-tree-addnode: "\e93d";
$sc-tree-removenode: "\e93e";
$sc-tree: "\e93f";
$sc-trigger: "\e940";
$sc-undo: "\e941";
$sc-update: "\e942";
$sc-user: "\e943";
$sc-view: "\e944";

